<div class="content-container">
  <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-25">
        <label for="toAccount">To Account:</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" formControlName="toAccount" id="toAccount">
        <div *ngIf="submitted && beneficiaryForm.controls.toAccount.errors" class="error">
          <div *ngIf="beneficiaryForm.controls.toAccount.errors.required">To Account is required</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="name">Name (optional) :</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>
    </div>

<div class="row">
  <div class="col-25">
    <label for="location">Location (optional) :</label>
  </div>
  <div class="col-75">
    <input type="text" class="form-control" formControlName="location" id="location">
  </div>
</div>

<div class="row">
<!--   <div class="col-50">
      <button type="button" class="btn btn-default" (click)="cancel()">BACK</button>
  </div> -->
    <button class="movemoney-button">SEND</button>
</div>
</form>
</div>